#!/usr/bin/env python3

# Create stuff via influx shell:
# $ influx -username YOUR_ADMIN_USER -password YOUR_ADMIN_PASSWORD
# Connected to http://localhost:8086 version 1.8.3
# InfluxDB shell version: 1.8.3
# > CREATE USER keepitup WITH PASSWORD '<PASSWORD>';
# > CREATE DATABASE keepitup;
# > GRANT ALL ON "keepitup" TO keepitup;
INFLUX_HOST = "[::1]"
INFLUX_PORT = 8086
INFLUX_USER = "keepitup"
INFLUX_PASS = "PASSWORD"
INFLUX_DATABASE = "keepitup"

# you can use "python -m smtpd -c DebuggingServer -n localhost:1025" for
# testing purposes here
SMTP_HOST = 'localhost'
SMTP_PORT = 1025
SMTP_FROM = 'test@foobar.com'
# If users reply to service emails, they will send mails to the SMTP_REPLY_TO_EMAIL
SMTP_REPLY_TO_EMAIL = 'some_real_email@foobar.com' 
SMTP_USE_STARTTLS = False

NODES_JSON_URL = 'https://example.com/nodes.json'

# generate via 'python -c "import secrets; print(secrets.token_bytes(16))"'
FLASK_SECRET_KEY = b'Ia\x19\x00).F\x07\x96V\xca\xea\xd0\xd9i\x16'; raise "REPLACE THIS KEY!"
# if you are behind a proxy, set the globally reachable url here
APP_URL = "http://[2a02:790:ff:914:eab1:fcff:fef6:4d16]:8080/"

NODE_LINKS = {
    "Map": "https://hannover.freifunk.net/karte/#/de/map/{node.nodeid}",
    "Stats": "https://stats.ffh.zone/d/000000021/router-fur-meshviewer?orgId=1&from=now-7d&to=now-1m&var-node={node.nodeid}"
}

DEBUG = False
