{% extends "layout.html" %}

{% block content %}
<h1>{{ node.name }}</h1>

{{ _('Current IP:') }} <a href="http://[{{ node.ip }}]/">{{ node.ip }}</a><br>
{% if NODE_LINKS|length > 0 %}
{{ _('Links:') }} {% for descr, href in NODE_LINKS.items() %}<a href="{{href.format(node=node)}}">{{descr}}</a>{{ ", " if not loop.last }}{% endfor %}
{% endif %}
<br>
{{ _('Current constitution') }}: {{ node | show_constitution | safe }}<br>
{% if user %}
{{ _('Notifications') }}:
{% if not subscription %}
{{ _('not subscribed') }}
{% elif subscription.send_notifications %}
{{ _('yes') }}
{% else %}
{{ _('no') }}
{% endif %} <br>
{{ _('Actions') }}:
{% if not subscription %}
<a href="{{ url_for('subscribe', nodeid=node.nodeid) }}">{{ _('subscribe') }}</a>
{% else %}
<a href="{{ url_for('unsubscribe', nodeid=node.nodeid) }}">{{ _('unsubscribe') }}</a>, <a href="{{ url_for('toggle_notifications', nodeid=node.nodeid) }}">{{ _('toggle notifications') }}</a>
{% endif %}
<br>
{% endif %}
<br>

<h4>{{ _('Latest Alarms') }}:</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ _('Start') }}</th>
      <th scope="col">{{ _('End') }}</th>
      <th scope="col">{{ _('Duration') }}</th>
    </tr>
  </thead>
  <tbody>
  	{% for alarm in node.alarms %}
    <tr>
      <td>{{ alarm.alarm_at }}</td>
      <td>{{ alarm.resolved_at or '-' }}</td>
      <td class="{% if not alarm.is_resolved %}text-danger{% else %}text-success{% endif %}">{{ alarm.duration_str }}</td>
    </tr>
  	{% endfor %}
  </tbody>
</table>

{% endblock %}
