{% extends "layout.html" %}

{% block content %}
<h1>{{ node.name }}</h1>

Current IP: <a href="http://[{{ node.ip }}]/">{{ node.ip }}</a><br>
{% if NODE_LINKS|length > 0 %}
Links: {% for descr, href in NODE_LINKS.items() %}<a href="{{href.format(node=node)}}">{{descr}}</a>{{ ", " if not loop.last }}{% endfor %}
{% endif %}
<br>
Current constitution: {{ node | show_constitution | safe }}<br>
{% if user %}
Notifications:
{% if not subscription %}
not subscribed
{% elif subscription.send_notifications %}
yes
{% else %}
no
{% endif %} <br>
Actions:
{% if not subscription %}
<a href="{{ url_for('subscribe', nodeid=node.nodeid) }}">subscribe</a>
{% else %}
<a href="{{ url_for('unsubscribe', nodeid=node.nodeid) }}">unsubscribe</a>, <a href="{{ url_for('toggle_notifications', nodeid=node.nodeid) }}">toggle notifications</a>
{% endif %}
<br>
{% endif %}
<br>

<h4>Latest Alarms:</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
  	{% for alarm in node.alarms %}
    <tr>
      <td>{{ alarm.alarm_at }}</td>
      <td>{{ alarm.resolved_at or '-' }}</td>
      <td class="{% if not alarm.is_resolved %}text-danger{% else %}text-success{% endif %}">{{ alarm.duration_str }}</td>
    </tr>
  	{% endfor %}
  </tbody>
</table>

<h4>Latest Pings:</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">RTT</th>
    </tr>
  </thead>
  <tbody>
  	{% for ping in pings %}
    <tr>
      <td>{{ '{:3.0f}s ago'.format((now - ping[0]).total_seconds()) }}</td>
      {% if np.isnan(ping[1]) %}
      <td class="text-danger">lost</td>
      {% else %}
      <td>{{ '{:.1f} ms'.format(ping[1]*1000) }}</td>
      {% endif %}
    </tr>
  	{% endfor %}
  </tbody>
</table>

{% endblock %}
